<h3><b>How much you plan to spend in each category:</b></h3>
<%= f.input :allocated_food %>
<%= f.input :allocated_housing %>
<%= f.input :allocated_utilities %>
<%= f.input :allocated_transportation %>
<%= f.input :allocated_health %>
<%= f.input :allocated_clothing %>
<%= f.input :allocated_education %>
<%= f.input :allocated_fitness %>
<%= f.input :allocated_electronics %>
<%= f.input :allocated_other %>
