<h3><b>How much you spent in each category so far:</b></h3>
<%= f.input :food, input_html: { value: '0' } %>
<%= f.input :housing, input_html: { value: '0' } %>
<%= f.input :utilities, input_html: { value: '0' } %>
<%= f.input :transportation, input_html: { value: '0' } %>
<%= f.input :health, input_html: { value: '0' } %>
<%= f.input :clothing, input_html: { value: '0' } %>
<%= f.input :education, input_html: { value: '0' } %>
<%= f.input :fitness, input_html: { value: '0' } %>
<%= f.input :electronics, input_html: { value: '0' } %>
<%= f.input :other, input_html: { value: '0' } %>
